<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="yota-card-front">
        <ng-content select="[yotaCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="yota-card-back">
        <ng-content select="[yotaCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div
        class="yota-card-expansion"
        *ngIf="expanded"
        [@expandCollapse]>
        <ng-content select="[yotaCardExpansion]"></ng-content>
    </div>

</ng-container>
